nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}
.font{
    color:#181818;
    font-weight: 800;
    font-size: 45px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.primary{
    color:#FD6E0A
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin:50px
}
nav a{
    text-decoration: none;
    color:#181818
}
.btn{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color:white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px
}
.color{
    background-color: #fff8f3;
    background-image: url(header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    border:0;
    justify-content: space-between;
}
.banner-greeting{
    font-size: 45px;
    color:#474747;
    margin-top: 5px;

}
.banner-heading{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #fff8f3;
    margin: 130px 0px;
}
.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color:#757575;
    text-align: center;
    font-size: 18px;
}